@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS for HTML tags */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

button {
    font-size: 12px;
    border-radius: 8px;
    padding: 8px 24px;
}

/* CSS for specific classes */
.header {
    background-color: #1f2937;
    color: #f9faf8;
    flex: 0 0 min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-wrapper {
    display: flex;
    flex: 0 0 min-content;
    justify-content: space-between;
    padding: 25px 15%;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    align-items: center;
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #e5e7eb;
}

.main-content {
    flex: 5 1 auto;
    display: flex;
    flex-direction: column;
}

.introduction {
    background-color: #1f2937;
    flex: 0 0 min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduction-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    padding: 0 15% 50px 15%;
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 15px;
    justify-content: space-evenly;
}

.main-text {
    flex: 2 1 auto;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary-text {
    flex: 1 1 auto;
    font-size: 24px;
    color: #f9faf8;
}

.left-side button {
    flex-grow: 0;
    flex-shrink: 0;
    align-self: flex-start;
    background-color: #3882f6;
    color: #f9faf8;
}

.right-side {
    flex: 1;
    display: flex;
    align-items: center;
}

.right-side img {
    width: 100%;
    max-height: 300px;
}

.testimonials-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonials-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    padding: 50px 15%;
}

.testimonials-header {
    align-self: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.testimonials {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    gap: 125px;
    flex-wrap: wrap;
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    max-width: 100px;
}

.testimonial img {
    flex-grow: 0;
    flex-shrink: 0;
    width: 125px;
    height: 125px;
    border-radius: 24px;
}

.testimonial-text {
    flex: 1;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    padding: 75px 15%;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    align-self: center;
}

.quote-cite {
    font-size: 24px;
    align-self: flex-end;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-to-action-wrapper {
    /* Stack divs side by side (left side 2 vertically stacked and right is button */
    /* Sign up button is center of box and left side starts left to right? */
    /* ---> Right button just within reasonable distance from left side text */
    background-color: #3882f6;
    /* width: 75%; */
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    gap: 125px;
    padding: 25px 75px;
    margin: 60px 100px;
    border-radius: 8px;
}

.call-to-action-wrapper .left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.call-to-action-wrapper .left-side .main-text {
    font-size: 14px;
}

.call-to-action-wrapper .left-side .secondary-text {
    font-size: 12px;
}

.call-to-action-wrapper .right-side {
    flex: 0 0 auto;
}

.call-to-action-wrapper .right-side button {
    background-color: #3882f6;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    color: #e5e7eb;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    flex: 0 0 min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 15%;
}