/* CSS for HTML tags */
* {
    outline: 2px solid red;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* CSS for specific classes */
.header {
    background-color: #1f2937;
    color: #f9faf8;
    flex: 1 1 auto;
}

.main-content {
    flex: 5 1 auto;
    display: flex;
    flex-direction: column;
}

.introduction {
    background-color: #1f2937;
    flex: 1;
}

.testimonials {
    flex: 1;
}

.quote {
    background-color: #e5e7eb;
    flex: 1;
}

.call-to-action {
    background-color: #3882f6;
    flex: 1;
}

.footer {
    background-color: #1f2937;
    flex: 1 1 auto;
}